
.footer_container {
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #ccc;
    padding: 15px 15px 5px 15px;
    background-color: white;
}
#user_avatar{
    position: relative;
    width:100%;
    padding-top: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
}
.fileinput-button {
    margin: 20px 0;
}
#progress{
    display: none;
}
#alert_placeholder{
    position: fixed;
    z-index: 1000;
    top: 20px;
    right: 0;
    width: 300px;
}
a{
    cursor: pointer;
}
body {
    padding-bottom: 50px;

    margin: 30px 0px;
}

.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}
#loading-spinner{
    float: right;
    display: none;
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}